.users {
    width: 20%;
    align-self: flex-start;
    padding: 0.5em;
  }
  
  .user-name {
    color: rgb(118, 190, 210);
  }
  
  #user-messages {
    padding-top: 0.25em;
    opacity: 0.7;
  }
  
  .event {
    color: rgb(69, 69, 69);
  }
  
  .user-event {
    color: rgb(7, 88, 110);
  }
  
  .system-event {
    color: rgb(40, 125, 221);
  }

  .center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .habit_gallery{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

  }